html { 
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
}

#wrapper {
	height: 100%;
}

header {
	height: 20%;
	background: url("../images/headerDrawingCrop.jpg");
	background-size: cover;
}

#navBar {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 1.56em;
    margin-bottom: 1.25em; 
}

.navLinks, #currentPageLink {
	display: inline;
	margin: 0.75em 1.125em;
}

.navLinks a, #currentPageLink {
	text-decoration: none;
	color: rgb(148,148,148);
	font-size: 1.5em;
	letter-spacing: 0.075em;
}

#currentPageLink {
	margin: 0;
}

.navLinks a:hover {
	color: rgb(0,0,0);
}

#resumeWrapper {
	width: 55%;
	height: 37.5em;
	margin: 0 auto;
	text-align: center;
	overflow: scroll;
}

#exhibsHeading {
	font-size: 1.25em;
	margin-top: 1.25em;
	margin-bottom: 1.5em;
}

#resumeList, #awardsList {
	width: 100%;
	text-align: left;
	font-size: 0.875em;
	line-height: 200%;
	font-family: 'Droid Serif', serif;
}

.showTitle {
	font-style: italic;
}

#awardsHeading {
	font-size: 1.25em;
	margin-top: 1.75em;
	margin-bottom: 1.5em;
}

#forMoreInfo {
	font-size: 0.875em;
	font-weight: bolder; 
	margin-top: 2.25em;
}

#space {
	width: 100%;
	height: 5em;
}

#footerCopy {
	width: 20%;
	position: absolute;
	right: 4.375em;
	color: rgb(148,148,148);
	font-size: 0.875em;
	text-align: right;
	padding-right: 1em;
}


/*full-size desktop styling*/	
@media only screen and (min-width: 800px) {
	body {
		font-size: 16px;
	}

	#mobileHeader {
		display: none;
	}
}

/*tablet styling*/	
@media only screen and (min-width: 500px) and (max-width: 800px) {
	body {
		font-size: 16px;
	}

	#mobileHeader {
		display: none;
	}

	header {
		height: 12%;
		background: url("../images/headerDrawingCrop.jpg");
		background-size: cover;
	}

	.navLinks, #currentPageLink {
		margin: 0.75em 0.8em;
	}

	.navLinks a, #currentPageLink {
		font-size: 1.4em;
		letter-spacing: 0.04em;
		font-weight: bolder;
	}

	#currentPageLink {
		margin: 0;
	}

	#mainContainer {
		height: 60%;
	}

	#resumeWrapper {
		width: 98%;
		height: 26em;
	}

	#exhibsHeading, #awardsHeading {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	#resumeList, #awardsList {
		font-size: 0.7em;
		font-weight: bolder;
		font-family: 'Droid Serif', serif;
	}

	#space {
		height: 3em;
	}

	#footerCopy {
		width: 30%;
		position: absolute;
		right: 1.2em;
		font-size: 0.9em;
		text-align: right;
		padding-right: 1em;
	}
}

/*mobile styling*/	
@media only screen and (max-width: 500px) {
	html {
		overflow: scroll;
	}
	body {
		font-size: 12px;
	}
	header {
		height: 10%;
		background: none;
		background-color: rgb(2,122,89);
	}

	#resumeLink {
		display: none;
	}

	#mobileHeader {
		text-align: center;
		color: rgb(255, 255, 255);
		font-family: 'Noto Sans', sans-serif;
		font-size: 2em;
		line-height: 48px;
	}

	#mobileHeaderText {
		margin: 0;
	}

	#navBar {
	    list-style-type: none;
	    padding: 0;
	    text-align: center;
	    margin: 0;
	    border-bottom: solid rgb(2,122,89) 0.1em;
	}

	.navLinks {
		display: block;
		margin: 0;
		padding: 1.2em 0;
		border-bottom: solid rgb(2,122,89) 0.1em;
		border-top: solid rgb(2,122,89) 0.1em;
		line-height: 18px;
	}

	.navLinks a, #currentPageLink {
		color: rgb(2,122,89);
		font-size: 2em;
		font-weight: bold;
		letter-spacing: 0.2em;
	}

	#currentPageLink {
		margin: 0;
	}

	#footerCopy {
		display: none;
	}
}



